<div class="container">
<h3>Create Work Order</h3>
  <form [formGroup] = "workOrderForm" (ngSubmit)="onSubmit()" novalidate>
    <!--<div class="form-group">
      <input type="file" id="photo" accept="image/*;capture=camera" #fileInput 
        (change)="onFileChange($event)">
    </div>
  -->
    <div class="form-group">
      <label>Work Order</label>
      <input type="text" formControlName="title" class="form-control">
    </div>
    <div class="form-group">
     <label>Job</label>
    <select class="form-control" formControlName="jobId">
      <option *ngFor="let job of woJobList" value="{{job.id}}">{{job.woJobName}}</option>
    </select>
      <div *ngIf="workOrderForm.controls['jobId'].errors && !workOrderForm.controls['jobId'].pristine" class="alert alert-danger">
        <div [hidden]="!workOrderForm.controls['jobId'].errors.required">Job is required.</div>
      </div>
    </div>
    <div *ngIf="workOrderForm.controls['title'].errors && !workOrderForm.controls['title'].pristine" class="alert alert-danger">
      <div [hidden]="!workOrderForm.controls['title'].errors.required">Work Order Title is required.</div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea rows="3" formControlName="description" class="form-control"></textarea>
      <div *ngIf="workOrderForm.controls['description'].errors && !workOrderForm.controls['description'].pristine" class="alert alert-danger">
        <div [hidden]="!workOrderForm.controls['description'].errors.required">Description is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Priority</label>
        <label *ngFor="let list of workOrderPriorityList" class="radio-inline padding">
          <input type="radio" formControlName="workOrderPriorityId" class="form-control" value="{{list.id}}">
          {{list.description}}
        </label>
      <div *ngIf="workOrderForm.controls['workOrderPriorityId'].errors && !workOrderForm.controls['workOrderPriorityId'].pristine" class="alert alert-danger">
        <div [hidden]="!workOrderForm.controls['workOrderPriorityId'].errors.required">Priority is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Assigne To</label>
    <select class="form-control" formControlName="assignedTo">
      <option *ngFor="let assignedTo of assignedTos" value="{{assignedTo.id}}">{{assignedTo.firstName}}</option>
    </select>
      <div *ngIf="workOrderForm.controls['assignedTo'].errors && !workOrderForm.controls['assignedTo'].pristine" class="alert alert-danger">
        <div [hidden]="!workOrderForm.controls['assignedTo'].errors.required">Assigned To is required.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Department</label>
      <select class="form-control" formControlName="departmentId">
        <option *ngFor="let dept of taskDepartments" value="{{dept.id}}" [selected]="dept.description==MAINTENANCE">{{dept.description}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Task Type</label>
      <select class="form-control" formControlName="workOrderCategoryId">
        <option *ngFor="let list of workOrderCategories" value="{{list.id}}">{{list.description}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Room or Location</label>
      <select class="form-control" formControlName="unitId">
        <option *ngFor="let list of locationUnits" value="{{list.id}}">{{list.unitDescription}}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Due Date</label>
      <input type="date" formControlName="dueDate" class="form-control">
    </div>
    <div>
      <button type="submit" class="btn btn-success" [disabled]="!workOrderForm.valid">Submit</button>
      <button type="button" class="btn" (click)="woForm.reset()">Reset</button>
    </div>
  </form>
  <!--
  <div>
       <p>Form value: {{workOrderForm.value | json}}</p>
       <p>Form Status: {{workOrderForm.status | json }}</p>
       <p>Form : {{workOrderForm.valid | json }}</p>
     
  </div>
-->
</div>
