.row .selected{
  background-color: rgb(245, 247, 165);
  border: 1px solid  rgb(141, 141, 0);
}

.alternate:nth-child(1){
    background:#f2f2f2;
}
.alternate:nth-child(even){
    background:#f2f2f2;
}

.limit-length{
  white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 max-width: 100%;
}

.row.row-underline {
    border-bottom: 1px solid lightgray;
}

.table-header{
  background: wheat;
}

.row-content{
  padding-bottom: .05em;
  border-bottom: 1px solid gray;
}

.border-header{
  border: 1px solid black;
}

.border-detail{
  border: 1px solid grey;
}

.tab{
  cursor: pointer;
  border: 1px solid grey;
}

.hotel-user-input{
  /*background: rgb(245, 212, 217);*/
  border: 1x solid grey;
}

.completed{
  background: green;
}

.in-progress{
  background: orange;
}
