<h2>Work Orders</h2>

<ul class="nav small">
  <li [class.selected]="1===1" class="list-group-item" (click)="filter('1')">NEW</li>
  <li class="list-group-item" (click)="filter('2')">IN-PROGRESS</li>
  <li class="list-group-item" (click)="filter('4')">COMPLETED</li>
</ul>

<div class="row">
<div class="col-md-6">
    <div class="row sticky-top table-header">
      <div class="col-md-6">Work Order</div>
      <div class="col-md-2">Assigned To</div>
      <div class="col-md-2">Due</div>
      <div class="col-md-2">Priority</div>
    </div>
    <div class="tablecontent">
  <div *ngFor="let workOrder of workOrders"
    [class.selected]="workOrder === selectedWorkOrder"
    (click)="onSelect(workOrder)" class="container alternate limit-length row-content" >
    <div class="row row-underline">
      <div class="col-md-6">{{workOrder.title}}</div>
      <div class="col-md-2"><p *ngIf="workOrder.assignedTo">{{workOrder.assignedTo.firstName}}</p></div>
      <div class="col-md-2">{{workOrder.dueDate}}</div>
      <div class="col-md-2">{{workOrder.workOrderPriority.description}}</div>
      <!-- <div class="col-md-1">{{workOrder.dueDate}}</div>
      <div class="col-md-1">{{workOrder.workOrderPriority.description}}</div>
    -->
    </div>
    <div class="row">
      <div class="col-md-8">
        <p class="limit-length">{{workOrder.description}} {{testVal}}</p>
      </div>
  <!--    <div class="col-md-2">
        <p class="limit-length">{{workOrder.department.description}}</p>
      </div>
    -->
    </div>
  </div>
  </div>
  </div>
  <div class="col-md-6">
   <app-work-order-detail [workOrder]="selectedWorkOrder"
    [workOrderStatusList]="workOrderStatusList"
    (onWoUpdated)="onWoUpdated($event)" ></app-work-order-detail>
  </div>
</div>
