
<div *ngIf="workOrder">
  <div class="row">
    <div class="col-md-2"><p>{{workOrder.locationUnit.unitType}} {{workOrder.locationUnit.unitDescription}}</p></div>
    <div class="col-md-8"><h3>{{workOrder.title}}</h3></div>
    <div class="col-md-2"><label>Priority</label>{{workOrder.workOrderPriority.description}}</div>
  </div>
  <div class="row">
    <div class="col-md-6"><h1>Image Here</h1></div>
    <div class="col-md-6"><label>Description</label><p>{{workOrder.description}}</p></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()" novalidate>
         <br/>
           <div class="form-group">
            <h3>Status</h3>
            <label *ngFor="let status of workOrderStatusList" class="radio-inline padding">
              <input (change)="statusChange()" type="radio" formControlName="workOrderStatus" class="form-control" value="{{status.description}}">
              {{status.description}}
            </label>
              <!-- <input type="radio" formControlName="workOrderStatus" class="form-control" ng-value="1">
              <input type="radio" formControlName="workOrderStatus" class="form-control" ng-value="2">
              <input type="radio" formControlName="workOrderStatus" class="form-control" value="4">
            -->
          </div>
          <div *ngIf="workOrderForm.get('workOrderStatus').value == 'COMPLETE'" class="form-group">
            <label>Complete Date</label>
            <input type="date" formControlName="completedDate" class="form-control">
          </div>
          <div *ngIf="completedDate.invalid && (completedDate.dirty || completedDate.touched)"
            class="alert alert-danger" >
            <div *ngIf="completeDate.errors.required">
              Complete date required.
            </div>
          </div>
          <div class="form-row">
          <div class="col">
            <label>Assigned By</label><p>{{workOrder.assignedBy.firstName}}</p>
          </div>
          <div class="col">
            <label>Assigned To</label>
            <p>{{workOrder.assignedTo.firstName}}</p>
          </div>
          <div class="col">
            <label>Created Date</label><p>{{workOrder.createdDate}}</p>
          </div>
          <div class="col">
            <label>Due Date</label><p>{{workOrder.dueDate}}</p>
          </div>
        </div>
          <label>Work Order Updates / Notes</label>
           <div formArrayName="workOrderNotes" class="well well-lg">
              <div *ngFor="let not of workOrderNotes.controls; let i=index" [formGroupName]="i" >
                {{i + 1}}
                <input type="text" formControlName="id" hidden>
                <input type="text" formControlName="notes">
              </div>
          </div>
           <button type="submit" value="submit" [disabled]="!workOrderForm.valid" class="btn btn-success">Save</button>
           <button type="button" value="add note" (click)="addWorkOrderNote()">Add Note </button>
       </form>
       <div>
       </div>
     <div>
       <p>Form value: {{workOrderForm.value | json}}</p>
       <p>Form Status: {{workOrderForm.status | json }}</p>
       <p>Form : {{workOrderForm.valid | json }}</p>
       <p>W/o Status start: {{workOrderStatusOriginal}}</p>

     </div>
    </div>
    <div class="row">
    </div>
  </div>
</div>
