div.datuma-form{
  border-radius: 5px;
  background-color: #f5f5f5;
  padding: 0px;
}

form{
  border: 1px lightblue;
}

.top-content{
  background: white;
}
.status-selected{
  background-color: #F0FFFF;
}

.radio-inline.padding{
  padding: 10px;
}

.content-border > div{
  border: 1px solid grey;
}

.my-flex-item{
  padding: 0rem !important;
}

.mat-content{
  background: rgb(248, 255, 219);
}

input.small{
  padding: 1px;
  
  font-size: 80%;
}

/deep/ .mat-form-field-infix {
  padding: 0px;
  
}

/deep/ .mat-input-placeholder {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

.max-size{
  display: inherit;
}

div.mat-list-item-content{
  height: 10px;
  padding: 1px;
}
.example-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding: 0px;
}

.example-container > * {
  width: 100%;
}

.text-area{
  background: white;
}

.datuma-d-flex{
  padding: 0px;
}

.wo-notes{
  padding-left: 1.5rem;
}

.summary{
  margin: 0;
}