
<div *ngIf="isLoading"i class="loading">Loading...</div>
<div *ngIf="workOrder">
<div class="datuma-form mat-elevation-z8">
  <div *ngIf="!isLoading">
  <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" novalidate class="form-horizontal">
    <div class="d-flex flex-row justify-content-center top-content">
      <div class="p-2 mr-auto">
        <!--<button  type=button class="small btn" (click)="onBackFromDetail()">Back to List</button>-->
        <button  type=button class="small btn" (click)="onBackFromDetail()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="p-2">
        <!--<select class="form-control form-control-lg" id="workOrderJobSelect" formControlName="workOrderJob">-->
        <select class="form-control form-control-lg" id="workOrderJobSelect" formControlName="workOrderJob">
          <option *ngFor="let j of woJobList" [ngValue]="j.id">{{j.woJobName}}</option>
        </select>
      </div>
      <div class="p-2">
        <select id="unitIdSelect" formControlName="unitId" class="form-control form-control-lg">
          <option *ngFor="let u of locationUnits" [ngValue]="u.id">{{u.unitDescription}}</option> 
        </select>
      </div>
      <div class="p-2 ml-auto">
          <mat-form-field>
            <mat-select id="" formControlName="workOrderStatus" matTooltip="Change Status Here" 
                #tooltip="matTooltip" >
              <mat-option *ngFor="let s of workOrderStatusList" [value]="s.id">{{s.description}}</mat-option>
            </mat-select>
          </mat-form-field>
         <!-- <input #ipt value="viewchild"/> -->
      </div> 
     <!-- <div class="p-2"><button type=button class="small btn btn-warning" (click)="toggleDisabledForm()">Edit</button>
        </div>-->
      <!--<div class="p-2">
        <button type="submit" value="submit" [disabled]="!workOrderForm.valid" class="btn btn-success">Update</button>
      </div>-->
    </div>
  <div class="mat-elevation-z8"> 

  <div class="form-row  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <label for="description" class="col-md-12 form-label"><h6>DETAILS</h6></label>
    </div>
    <div class="col-md-12">
      <textarea id="description" class="form-control form-control-md" placeholder="Description" formControlName="description" 
              value="{{workOrder.description}}"  matAutosizeMinRows="3"
              matAutosizeMaxRows="4"></textarea>
    </div>
    <!-- <div class="col-md-12">
       <mat-form-field class="max-size form-group">
         <textarea class="form-control" matInput placeholder="Description" formControlName="description" 
                value="{{workOrder.description}}"  matTextareaAutosize matAutosizeMinRows="3"
                matAutosizeMaxRows="4"></textarea>
       </mat-form-field>
    </div>-->
  </div>
  <div class="row">
    <div class="col-md-12">
        
<!--      <div class="d-flex flex-row justify-content-center datuma-d-flex">
        <div class="p-2 justify-content-center">
        <label for="addNotesText" class="col-md-12 form-label justify-content-center"><h6>NOTES</h6></label>
        </div>
      </div>--> 
      <!--<div class="row">
        <label for="addNotesText" class="col-md-12 form-label justify-content-center"><h6>NOTES</h6></label>
      </div>
    -->
      <div class="d-flex flex-row align-content-end flex-wrap">
        <div class="p-2 mr-auto example-container">
          <mat-form-field class="example-container">
            <textarea class="text-area text-center" matInput placeholder="Write Notes" matTextareaAutosize matAutosizeMinRows="3"
            matAutosizeMaxRows="5" [(ngModel)]="newNoteInput"
              id="addNotesText"  [ngModelOptions]="{standalone:true}" (keyup.enter)="onEnterNotes()"
              matTooltip="Enter comments here" #tooltip="matTooltip" ></textarea>
           <!-- <mat-hint align="end">Enter updates here</mat-hint> -->
          </mat-form-field>
        </div>
        <div class="p-2 align-bottom">
          <br/>
          <button type="button" class="small btn btn-small" value="add note" (click)="addWorkOrderNote()">Add </button>
        </div>
        </div>
           <!-- <div class="form-group">
                <label for="addNotesText">Notes</label>
                <input  [(ngModel)]="newNoteInput" id="addNotesText" class="form-control" [ngModelOptions]="{standalone:true}">
                <button type="button" class="small btn btn-small" value="add note" (click)="addWorkOrderNote()">Add </button>
            </div>-->
      <div class="mat-content" [style.overflow]="'auto'" [style.height.px]="'150'">
         <!--<mat-list dense class="small"  *ngFor="let note of workOrderNotes.value">
           <mat-list-item>{{note.noteDate | date:'MM/dd'}} {{note.notes}}</mat-list-item>
         </mat-list>-->
         <div *ngFor="let note of workOrderNotes.value" class="row border-bottom pb-2">
           <div class="col-md-12 wo-notes">{{note.noteDate | date:'MM/dd'}} {{note.notes}}</div>
         </div>
        </div>
  </div>
  
      
    
         <!-- <div *ngIf="workOrderForm.get('workOrderStatus').value == 'COMPLETE'" class="form-group">
            <label class="control-label col-sm-2"><h6>Complete Date</h6></label>
            <div class="col-sm-10">
              <input type="date" formControlName="completedDate" class="form-control">
            </div>
          </div>
          <div *ngIf="completedDate.invalid && (completedDate.dirty || completedDate.touched)"
            class="alert alert-danger" >
            <div *ngIf="completeDate.errors.required">
              Complete date required.
            </div>
            <hr>
          </div>
        -->


       <div>
       </div>
     <div>
       <!--
       <p>Form value: {{workOrderForm.value | json}}</p>
       <p>Form Status: {{workOrderForm.status | json }}</p>
       <p>Form : {{workOrderForm.valid | json }}</p>
       <p>W/o Status start: {{workOrderStatusOriginal}}</p>
     -->

     </div>
  </div>
  <div class="row form-group summary small border-top border-bottom">
    <div class="col border-right"><label>Assigned By</label>
      <p>{{workOrder.assignedBy.firstName}}</p>
    </div>
    <div class="col border-right">
      <label>Assigned To</label>
      <p>{{workOrder.assignedTo.firstName}}</p>
    </div>
    <div class="col border-right">
      <label>Created Date</label><p>{{workOrder.createdDate | date: 'MM/dd/yy' }}</p>
    </div>
    <div class="col border-right">
      <label>Due Date</label>
      <p>{{workOrder.dueDate | date: 'MM/dd/yy' }} </p>
      <!--<p><input type="te" formControlName="dueDate" value="{{workOrder.dueDate}}" /></p>-->
    </div>
  </div>
  </div>
  </form>
  </div>
</div>
<div class="p-2">
    <button type="submit" value="submit" [disabled]="!workOrderForm.valid" class="btn btn-success" 
      (click)="onSubmit()">Update</button>
  </div>
</div>
