
<div *ngIf="workOrder">
  <form [formGroup]="workOrderForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()" novalidate class="form-horizontal">
    <div class="d-flex flex-row content-border">
        <div class="p-2 mr-auto"><button  type=button class="small btn" (click)="onBackFromDetail()">Back to List</button></div>
        
     <!-- <div class="p-2"><button type=button class="small btn btn-warning" (click)="toggleDisabledForm()">Edit</button>
        </div>-->
      <div class="p-2">
          <button type="submit" value="submit" [disabled]="!workOrderForm.valid" class="btn btn-success">Update</button>
        </div>
      </div>
  <div class="row content-border">
    <div class="col-md-2"><label><h6>{{workOrder.locationUnit.unitType}}</h6></label>
        <select formControlName="unitId" class="">
          <option *ngFor="let u of locationUnits" [ngValue]="u.id">{{u.unitDescription}}</option> 
        </select>
     </div>

    <div class="col-md-8">
      <div class="d-flex flex-column my-flex-container-column">
        <div class="p-2 my-flex-item">
          <div class="d-flex flex-row">
            <div class="p-2 mr-auto my-flex-item"><label><h6>Work Order</h6></label></div>
            <div class="p-2"><h5><input type="text" formControlName="title" value="{{workOrder.title}}" /></h5></div>
          </div>
        </div>
        <div class="p-2 my-flex-item">
          <div class="d-flex flex-row">
            <div class="p-2 mr-auto my-flex-item"><label><h6>Job</h6></label></div>
            <div class="p-2">
              <select formControlName="workOrderJob">
                <option *ngFor="let j of woJobList" [ngValue]="j.id">{{j.woJobName}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label><h6>Priority</h6></label>
        <select formControlName="workOrderPriority" class="">
          <option *ngFor="let p of workOrderPriorityList" [ngValue]="p.id">{{p.description}}</option> 
        </select>
      </div>
    </div>
  </div>
  <div class="row content-border">
    <div class="col-md-12">
       <mat-form-field class="max-size">
         <textarea matInput placeholder="Description" formControlName="description" 
                value="{{workOrder.description}}"  matTextareaAutosize matAutosizeMinRows="2"
                matAutosizeMaxRows="4"></textarea>
       </mat-form-field>
    </div>
  </div>
  <div class="row content-border">
    <div class="col-md-12">
      
           <div class="form-group">
            <label><h6>Status</h6></label>
            <label *ngFor="let status of workOrderStatusList" class="radio-inline padding">
              <!-- <input (change)="statusChange()" type="radio" formControlName="workOrderStatus" class="form-control" -->
              <input type="radio" formControlName="workOrderStatus" class="form-control" 
                  value="{{status.description}}"
                [attr.disabled]="disabledStatus(status.description)">
              {{status.description}}
            </label>
              <!-- <input type="radio" formControlName="workOrderStatus" class="form-control" ng-value="1">
              <input type="radio" formControlName="workOrderStatus" class="form-control" ng-value="2">
              <input type="radio" formControlName="workOrderStatus" class="form-control" value="5">
            -->
          </div>
          <hr>
         <!-- <div *ngIf="workOrderForm.get('workOrderStatus').value == 'COMPLETE'" class="form-group">
            <label class="control-label col-sm-2"><h6>Complete Date</h6></label>
            <div class="col-sm-10">
              <input type="date" formControlName="completedDate" class="form-control">
            </div>
          </div>
          <div *ngIf="completedDate.invalid && (completedDate.dirty || completedDate.touched)"
            class="alert alert-danger" >
            <div *ngIf="completeDate.errors.required">
              Complete date required.
            </div>
            <hr>
          </div>
        -->
        <mat-card>
        <mat-card-title>
            <div class="form-group d-flex flex-row  small">
                <div class="p-2 mr-auto">
                  Notes
                </div>
                <div class="p-2">
                  <input  [(ngModel)]="newNoteInput" class="small" [ngModelOptions]="{standalone:true}">
                </div>
                <div class="p-2"> 
                  <button type="button" class="small btn btn-small" value="add note" (click)="addWorkOrderNote()">Add </button>
                </div>
              </div>
        </mat-card-title>
        <mat-card-content class="mat-content" [style.overflow]="'auto'" [style.height.px]="'75'">
           <mat-list dense class="small"  *ngFor="let note of workOrderNotes.value">
             <mat-list-item>{{note.noteDate | date:'MM/dd'}} {{note.notes}}</mat-list-item>
           </mat-list>
        </mat-card-content>
        </mat-card>
       <div class="form-row content-border small">
        <div class="col"> <label>Assigned By</label>
          <p>{{workOrder.assignedBy.firstName}}</p>
        </div>
        <div class="col">
          <label>Assigned To</label>
          <p>{{workOrder.assignedTo.firstName}}</p>
        </div>
        <div class="col">
          <label>Created Date</label><p>{{workOrder.createdDate}}</p>
        </div>
        <div class="col">
          <label>Due Date</label>
          <p><input type="text" formControlName="dueDate" value="{{workOrder.dueDate}}" /></p>
        </div>
      </div>
       <div>
       </div>
     <div>
       <!--
       <p>Form value: {{workOrderForm.value | json}}</p>
       <p>Form Status: {{workOrderForm.status | json }}</p>
       <p>Form : {{workOrderForm.valid | json }}</p>
       <p>W/o Status start: {{workOrderStatusOriginal}}</p>
     -->

     </div>
    </div>
    <div class="row">
    </div>
  </div>
  </form>
</div>
