<div class="row">
<div class="col-md-6">
<h5>{{title}}</h5>
</div>
<div class="col-md-6">
<div class="d-flex justify-content-start  ">
  <div class="ml-auto p-2">
      <ng-template [ngIf]="!tenantAuthService.isLoggedOut()">
          <a class="success">{{tenantAuthService.getCompany()}}</a>
          <a style="color: blue;" (click)="tenantAuthService.logout()">Switch</a>
      </ng-template>
  </div>
 </div>
</div>
</div>
<div class="d-flex justify-content-start  ">
    <div class="p-2">
      <ul class="list-inline">
        <ng-template [ngIf]="authService.isAuthenticated()">
            <li class="list-inline-item"><a class="nav-link" routerLink="/work-order-list" routerLinkActive="active">Work Orders</a></li>
            <li class="list-inline-item"><a class="nav-link" routerLink="/work-order-create" routerLinkActive="active">Create</a></li>
            <li class="list-inline-item"><a class="nav-link" routerLink="/admin" routerLinkActive="active">Admin</a></li>
            <li class="list-inline-item"><a class="nav-link" routerLink="/wo-list-drawer" routerLinkActive="active">Drawer Example</a></li>
        </ng-template>
       </ul>
    </div>
    <div class="ml-auto p-2">
        <ul class="list-inline">
        
        <ng-template [ngIf]="!authService.isAuthenticated() && !tenantAuthService.isLoggedOut()">
          <li class="list-inline-item"><a class="nav-link"  routerLink="/signup" routerLinkActive="active">Register</a></li>
          <li class="list-inline-item"><a class="nav-link" routerLink="/signin" routerLinkActive="active">Login</a></li>
        </ng-template>
        <li><a class="nav-link" style="cursor: pointer;" (click)="authService.logOut()" *ngIf="authService.isAuthenticated()">Logout</a></li>
        </ul>
    </div>
  </div>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navarText">
    <ul class="navbar-nav">
      <ng-template [ngIf]="authService.isAuthenticated()">
        <li class="nav-item"><a class="nav-link" routerLink="/work-order-list" routerLinkActive="active">Work Orders</a></li>
        <li class="nav-item"><a routerLink="/work-order-create" routerLinkActive="active">Create</a></li>
        <li class="nav-item"><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
      </ng-template>
      
      <ng-template [ngIf]="!authService.isAuthenticated() && !tenantAuthService.isLoggedOut()">
        <li class="nav-item"><a routerLink="/signup" routerLinkActive="active">Register</a></li>
        <li class="nav-item"><a routerLink="/signin" routerLinkActive="active">Login</a></li>
      </ng-template>
    <li class="nav-item"><a style="cursor: pointer;" (click)="authService.logOut()" *ngIf="authService.isAuthenticated()">Logout</a></li>
    </ul>
  </div>
</nav>
-->
<div class="">
  <!--<div class="col-md-12">-->
    <app-message></app-message>
    <router-outlet></router-outlet>
  <!--</div>-->
</div>
